#WEBSERVER
WEBSERVER_PORT = 7000

#POSTGRES
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432
POSTGRES_USERNAME = postgres 
POSTGRES_PASSWORD = postgres
POSTGRES_DB = tender 

#JWT
JWT_ACCESS_SECRET = secret
JWT_REFRESH_SECRET = secret

#Admin 
ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=Service
ADMIN_EMAIL=admin@restaturants.api
ADMIN_PASSWORD=adminadmin
